 *   {
    margin:0;
    padding:0;
		}
#image  {
	width:700px;
	margin-right:50px;
	margin-left:200px;
	margin-top:50px;
	margin-bottom:30px;
   }
  .a {
	 padding-right:1000px;
	 padding-bottom:30px;
	 margin-left:100px;
   }
   .b {
	 padding-right:50px;
	 padding-bottom:20px;
	 margin-left:100px;
   }
#name1{
	padding-bottom:50px;
	padding-left:50px;
	padding-right:100px;
      }
 #name2{
	padding-bottom:50px;
	padding-left:50px;
	padding-right:100px;
      } 
#name3{
	padding-bottom:50px;
	padding-left:50px;
	padding-right:100px;
      } 
button{
	margin-left:500px;
	border:double;
	padding:20px 10px 20px 10px;
	margin-bottom:20px;
	background-color:pink;
	border-radius:50%;
	border:double 7px;
	border-color:red;
	 }
div {
	background-color:yellow;
	border:double;
    }